<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>You have finised your Registration !</h1>
    <p>Thank you ! Now you can relax and wait for feedback from us.</p>
</body>
</html>